services:
  frontend:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      args:
        - APP_BACKEND_URL=${APP_BACKEND_URL}
    ports:
      - "2096:2096"
    depends_on:
      - backend
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: "0.8"
          memory: 1.5G
        reservations:
          cpus: "0.3"
          memory: 512M
    restart: unless-stopped

  backend:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 512M
