services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    ports:
      - "${DATABASE_PORT:-5432}:${DATABASE_PORT:-5432}"
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_LOGIN}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      PGPORT: ${DATABASE_PORT:-5432}
    command: -p ${DATABASE_PORT:-5432}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 1G
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${DATABASE_LOGIN} -p ${DATABASE_PORT:-5432}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgresus:
    container_name: postgresus
    image: rostislavdugin/postgresus:latest
    ports:
      - "4005:4005"
    volumes:
      - ./postgresus-data:/postgresus-data
    restart: unless-stopped

  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly:latest
    container_name: dragonfly
    ulimits:
      memlock: -1
    ports:
      - "${REDIS_PORT:-6379}:${REDIS_PORT:-6379}"
    volumes:
      - dragonfly_data:/data
    networks:
      - app_network
    restart: unless-stopped
    command:
      - --port=${REDIS_PORT:-6379}
      - --requirepass=${REDIS_PASSWORD}
      - --maxmemory=512mb
      - --cache_mode=true
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 768M
    healthcheck:
      test:
        [
          "CMD",
          "redis-cli",
          "-p",
          "${REDIS_PORT:-6379}",
          "-a",
          "${REDIS_PASSWORD}",
          "--raw",
          "incr",
          "ping",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: backend
    environment:
      REDIS_HOST: dragonfly
      APP_FRONTEND_URL: ${DOMAIN}
      APP_BACKEND_URL: ${API_DOMAIN}
    depends_on:
      postgres:
        condition: service_healthy
      dragonfly:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - app_network
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 1G
        reservations:
          cpus: "0.2"
          memory: 512M
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:8000/api/utils/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  frontend:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      args:
        - APP_BACKEND_URL=https://${API_DOMAIN}
    container_name: frontend
    env_file:
      - .env
    networks:
      - app_network
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.8"
          memory: 1.5G
        reservations:
          cpus: "0.3"
          memory: 512M

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      DOMAIN: ${DOMAIN}
      API_DOMAIN: ${API_DOMAIN}
    volumes:
      - ./apps/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - app_network
    restart: unless-stopped

volumes:
  postgres_data:
  dragonfly_data:
  caddy_data:
  caddy_config:

networks:
  app_network:
    driver: bridge
