---
import { Discord } from '@/components/icons'
import { Sparkles } from '@/components/ui'
import { Button } from '@/components/ui/button'
---

<section id="main" class="relative flex items-center justify-center">
  <div class="relative mt-58 flex flex-col items-center justify-center gap-9 select-none">
    <Sparkles
      colors={{ first: '#ffffff', second: '#ffffff' }}
      sparklesCount={5}
      class="relative m-auto"
      client:load
    >
      <a
        href="https://discord.gg/pYV4PBV5YW"
        target="_blank"
        class="flex cursor-pointer items-center gap-2 rounded-full border border-white/10 bg-[#7289DA]/25 py-1 pr-4 pl-3 text-sm font-semibold drop-shadow-[0_0_20px_rgba(0,59,255,1)] transition duration-150 hover:bg-[#7289DA]/40"
      >
        <Discord size={20} />
        Be part of our Discord family!
      </a>
    </Sparkles>
    <span class="text-center text-4xl leading-[0.8] font-bold sm:text-6xl xl:text-[90px]">
      Your streaming<br /> command center
    </span>
    <span class="px-12 text-center text-xl font-light">
      Automate overlays, track performance, and interact with viewers<br /> — all without leaving your
      game.
    </span>
    <span class="flex w-full flex-col items-center justify-center gap-3 lg:flex-row">
      <Button variant="default" class="h-12 min-w-52 justify-center rounded-xl text-lg">
        Let's start create
      </Button>
      <Button variant="alternative" class="h-12 min-w-52 justify-center rounded-xl text-lg">
        How does it work?
      </Button>
    </span>
  </div>
</section>

<style>
  .animate-fade {
    animation: fade 10s infinite;
  }

  .animate-fade-2 {
    animation: fade-2 5s infinite;
  }

  @keyframes fade {
    0% {
      --tw-blur: blur(160px);
      opacity: 0.6;
    }
    50% {
      --tw-blur: blur(100px);
      opacity: 0.4;
    }
    100% {
      --tw-blur: blur(160px);
      opacity: 0.6;
    }
  }

  @keyframes fade-2 {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.5;
    }
  }
</style>
