@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwindcss-animate';

@theme {
  --font-*: initial;
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;

  --color-header: var(--header);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-second: var(--second);

  --color-switch: var(--switch);
  --color-switch-foreground: var(--switch-foreground);

  --color-switch-checked: var(--switch-checked);
  --color-switch-checked-foreground: var(--switch-checked-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-valory: var(--valory);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-button: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-in-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--reka-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  :root {
    --header: oklch(0 0 0);
    --background: oklch(0 0 0);
    --foreground: oklch(95% 0 0);
    --second: oklch(53.3% 0 0);

    --muted: oklch(95% 0 0 / 0.5);
    --muted-foreground: oklch(64.9% 0.005 217.9);

    --popover: oklch(13% 0 0);
    --popover-foreground: oklch(95% 0 0);

    --switch: oklch(0% 0 0 / 1);
    --switch-foreground: oklch(95% 0 0 / 0.3);

    --switch-checked: oklch(95% 0 0 / 1);
    --switch-checked-foreground: oklch(0% 0 0);

    --card: oklch(20.3% 0.003 262.44);
    --card-foreground: oklch(96.8% 0.003 251.27);

    --border: oklch(95% 0 0 / 0.1);
    --input: oklch(95% 0 0 / 0.1);

    --primary: oklch(96.8% 0.003 251.27);
    --primary-foreground: oklch(26.2% 0.024 251.27);

    --secondary: oklch(38.2% 0.018 251.27);
    --secondary-foreground: oklch(96.8% 0.003 251.27);

    --accent: oklch(95% 0 0 / 0.1);
    --accent-foreground: oklch(96.8% 0.003 251.27);

    --destructive: oklch(45.2% 0.145 27.16);
    --destructive-foreground: oklch(96.8% 0.003 251.27);

    --ring: oklch(82.7% 0.011 251.27);

    --valory: oklch(0.628 0.2577 29.23);

    --radius: 0.625rem;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #ffffff0d transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    width: 1px;
    border-radius: 1px;
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #ffffff0d;
    width: 1px;
    border-radius: 1px;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply selection:bg-valory selection:text-[#f2f2f2];
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family:
    'Geist',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  @apply antialiased;
}

.font-valory {
  font-family: 'Russo One', sans-serif;
}

.title {
  @apply font-semibold text-white;
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--reka-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
